body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}
  /* Container for the login form */
  .login-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
    background-color: #e7c177;
    box-sizing: border-box;  
  }

  .logo {
    width: 50%; /* Adjust the size of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-top: -13%; /* Optional: Adjust top margin */
    padding-top: 2%;
    display: block; /* Center the logo in the section */
}

  /* Login section styling */
  .login-section {
    width:35%; 
    height:80%;
    background-color: #f6f0f0; 
    padding: 4%; 
    border-radius: 5%;  
    text-align: center; 
    align-items: center;
    display: flex;
    flex-direction: column; 
    gap: 1.2rem; 
  
  .welcome-title {
      font-size: 200%; /* Larger font size for emphasis */
      color: #000000; /* Neutral dark color */
      margin-top: 1%;
      margin-bottom: 1%; /* Spacing below the title */
  }
  
  /* Connexion title */
  .connexion-title {
      font-size: 200%; /* Smaller font size for secondary importance */
      color: #540404; /* Slightly lighter color */
      margin-top: -2%; /* Remove extra spacing above */
      margin-bottom: 3%; /* Adjust spacing below */
  }
  
  .input-label {
    font-size: 120%; 
    color: #000000; 
    font-weight: 400; 
    margin-bottom: 1%; 
    display: block; 
    text-align: center; 
}
  
  .input-field {
  width: 100%; 
  padding: 8%; 
  margin-bottom: 3%; 
  border: 100% solid #000000; 
  border-radius: 10px; 
  font-size: 100%; 
  box-sizing: border-box; 
  color: #000000;
  background-color: #f9f9f9; /* Light background for input */
}

  .login-button {
  width: 100%; 
  height: 30%; 
  background: linear-gradient(145deg, #a38408, #d0be18); /* Gradient background */
  color: #fff; 
  border: none; 
  border-radius: 10px; 
  font-size: 100%; 
  font-weight: bold; 
  cursor: pointer; 
  margin: 5% auto;
  display: block;
}
  
  .login-section button:hover {
    background-color: #357ab8; /* Darker blue on hover */
  }
  
  /* Registration link */
  .login-section p {
    margin-top: 10%;
    font-size: 100%;
  }
  
  .register-link {
    color: #4a90e2; /* Blue color */
    text-decoration: none; /* Removes underline */
    font-weight: bold;
  }
  
  .register-link:hover {
    text-decoration: underline; /* Adds underline on hover */
  }
} 