.dashboard {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    background-image: url('../../../assets/images/logo_1.png'); 
    background-repeat: no-repeat; 
    background-size: 220px auto; 
    background-position: top left;
    text-align: center;
}

.dashboard-header {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-left: auto; /* Align it to the right */
    border-radius: 10px; 
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px; 
    margin-top: 5px;
    gap: 50px; 
}


.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    
}


.dashboard-content {
    margin-top: 20px;

}

.graphique {
    margin: 20px 0;
    text-align: center;
}

.graphique-images {
    display: flex;
    justify-content: center;
    gap: 0px; /* Space between images */
}

.graphique-image {
    width: 550px; /* Each image takes 48% of the width with some gap */
    height: 320px; /* Maintain aspect ratio */
    border: 2px solid #ddd; /* Optional: Border for styling */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Shadow for aesthetics */
}

.form-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-left: 20px;
}

.form-section label {
    display: block;
    margin: 20px 0;
    text-align: left;
}

.form-section select {
    width: 80px; /* Adjust the width */
    padding: 5px; /* Adjust internal padding */
    margin-bottom: 10px; /* Add space below the dropdown */
}

.form-section button {
    width: 250px; /* Set width of the button */
    padding: 10px; /* Adjust padding to make the button look better */
    margin-bottom: 5px; /* Space below the button */
    margin-top: 8px;
    font-size: 16px;
    background-color: #1c2936; /* Button color */
    color: white; /* Button text color */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Align text inside button */
}

.dashboard-footer {
    background-color: #5d90c7;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 4vh;
}