.dashboard {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 0px;
    text-align: center;
}

.dashboard-content {
    margin-top: 20px;

}

.graphique {
    background-color: #ccc;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #666;
}

.form-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 30px;
}

.form-section label {
    display: block;
    margin: 20px 0;
    text-align: left;
}

.form-section select {
    width: 80px; 
    padding: 5px; 
    margin-bottom: 10px; 
}

.form-section button {
    width: 280px; 
    padding: 10px; 
    margin-bottom: 5px; 
    margin-top: 8px;
    font-size: 16px;
    background-color: #445769; 
    color: white; 
    border-radius: 10px; 
    cursor: pointer; 
    text-align: left; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px; /* Adjust width if needed */
    background-color: #fff;
}

.dropdown-icon {
    transition: transform 0.3s ease;
}

.dropdown-icon.open {
    transform: rotate(180deg);
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-option {
    padding: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}

.consultations-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.consultations-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #302323;
}

.consultations-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.consultation-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    gap: 5px;
}

.consultation-item span {
    font-size: 16px;
    color: #333;
    flex: 0,5; /* Ensures even spacing between session, date, and link */
    text-align: center;
}

.pdf-link {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s;

}

.pdf-link:hover {
    color: #0056b3;
}
